body {
  background-color: grey;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}
.header { grid-area: header; }
.sidebar { grid-area: sidebar; }
.main { grid-area: main; }
@keyframes grid {
 20% {	width: 20; height: 20; }
 100% { width: 100; height: 100; }
}
